
MONGODB_URI=mongodb+srv://TasteSphere:priya2005@cluster0.tjykf8f.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=tastesphere-super-secret-jwt-key-2024-make-this-very-long-and-random-for-security
PORT=5000
RAZORPAY_KEY_ID=rzp_test_RI7Uimk2TJgM7U
RAZORPAY_KEY_SECRET=snWv569bglcMkOQczxKFPuWH
EMAIL_USER=tastesphere369@gmail.com
EMAIL_PASS=ttitvdtdgxhtfnua
TWILIO_ACCOUNT_SID=ACdee7dc7636d6bec5d301f623301828d6
TWILIO_AUTH_TOKEN=d52679a65ef850aeb401a9d54c455fb1
TWILIO_WHATSAPP_NUMBER=+14155238886

FRONTEND_URL=https://your-frontend.vercel.app
CORS_ORIGINS=https://your-frontend.vercel.app
